.home-container {
  flex: 1;
  padding: 20px 40px;
  background: var(--bg);
  color: var(--text);
}

.top-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  color: rgb(22, 69, 79);
}

body.dark .top-row {
  color: white;
}

.top-row h2 {
  margin: 0;
  font-size: 28px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--border);
  font-size: 14px;
  background: var(--bg-secondary);
  color: var(--text);
}

.search-input::placeholder {
  color: #999;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px 18px;
  background-color: #3ca493;
  color: rgb(22, 69, 79);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.2s;
}

.add-btn:hover {
  background: #72fcec;
}

.add-btn img {
  width: 22px;
}

.patient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.patient-card {
  width: 320px;
  background: var(--bg-secondary);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--border);
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

body.dark .patient-card {
  box-shadow: 0 4px 14px rgba(0,0,0,0.6);
}

.patient-card:hover {
  transform: translateY(-3px);
}

.patient-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 60px;
  height: 60px;
  font-size: 22px;
  border-radius: 50%;
  background: #0d6b63;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-home {
  border: 1px solid var(--border);
  margin: 10px 0;
}

.btn-h {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;
  margin-top: 20px;
}

.btn-home {
  margin-top: 6px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 15px;
  cursor: pointer;
  background: #3ca493;
  color: rgb(22, 69, 79);
  font-size: 14px;
  display: flex;
  gap: 2px;
  transition: 0.2s;
}

body.dark .btn-home {
  color: rgb(22, 69, 79);
  background: #3ca493;
}

.btn-home:hover {
  background-color: #72fcec;
  color: rgb(22, 69, 79);
}

.btn-home img {
  width: 15px;
  height: 15px;
  border-radius: 20%;
  background: transparent; 
}
