.details-container {
  padding: 30px;
  width: 95%;
  height: 100%;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.details-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.details-avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #0a7564;
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-actions {
  display: flex;
  gap: 12px;
  margin-right: 40px;
}

.btn-primary,
.btn-secondary {
  background-color: #3ca493;
  color: #16454f;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #72fcec;
}

.details-tabs {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.details-tabs p {
  cursor: pointer;
  padding-bottom: 6px;
}

.active-tab {
  font-weight: bold;
  border-bottom: 2px solid #3ca493;
}

.barra {
  border: 1px solid #eee;
}

.section-title {
  margin: 25px 0 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;
  max-width: 900px;
}

.details-tabs p {
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 16px;
  color: rgb(22, 69, 79);
  transition: 0.2s;
}

.details-tabs p:hover {
  color: #72fcec;
}

.active-tab {
  font-weight: bold;
  border-bottom: 2px solid #3ca493;
  color: rgb(22, 69, 79);
}

.info-box input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f7f7f7;
}

.agenda-title {
  font-weight: bold;
  margin-top: 20px;
}

.agenda-empty {
  opacity: 0.6;
  margin-bottom: 15px;
}

.delete-btn {
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: #d9534f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.delete-btn:hover {
  background-color: #ff6b6b;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 380px;
  text-align: center;
  box-shadow: 0 4px 20px rgb(22, 69, 79);
}

.warning-text {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(22, 69, 79);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.cancel-btn {
  background-color: #d9534f;
  color: rgb(22, 69, 79);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #ff6b6b;
}

.confirm-btn {
  background-color: #3ca493;
  color:rgb(22, 69, 79);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #72fcec;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.event-modal-box {
  width: 480px;
  background: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.event-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.event-modal-header h2 {
  font-size: 22px;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.field label {
  font-weight: 500;
  margin-bottom: 6px;
}

.field input, .field select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
}

.time-row {
  display: flex;
  gap: 16px;
}

.event-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.agenda-card {
  border: 1px solid #dadada;
  background: white;
  width: 50%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.agenda-card h4 {
  margin: 0;
  font-weight: 600;
}

.agenda-card p {
  margin: 4px 0;
  opacity: 0.75;
}

.evolution-card {
  border: 1px solid #dadada;
  background: white;
  width: 50%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.evolution-card h4 {
  margin: 0;
  font-weight: 600;
}

.evolution-card p {
  margin: 4px 0;
  opacity: 0.75;
}

.evolution-modal-box {
  width: 480px;
  background: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.evolution-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.evolution-modal-header h2 {
  font-size: 22px;
  margin: 0;
}

.evolution-textarea {
  width: 100%;
  height: 140px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #f9f9f9;
  resize: none;
  font-size: 15px;
}

.evolution-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-evolution-btn {
  background-color: #3ca493;
  color: #16454f;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  margin-bottom: 20px;
}

.create-evolution-btn:hover {
  background-color: #72fcec;
}

.edit-icon {
  float: right;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
  transition: 0.2s;
}

.edit-icon:hover {
  opacity: 1;
}

.agenda-card .patient-name {
  font-weight: bold;
  color: rgb(22, 69, 79);
  margin-bottom: 6px;
}
